{% extends 'generator/layout.html' %}

{% block title %}
    Links
{% endblock %}

{% block content %}
    <div class="features" style="text-align: left; margin-left: 22%; margin-top: -5px; font-family: Arial, Helvetica, sans-serif; padding: 20px;">
        <h1 style="text-align: center;">Links</h1>
        <li><a href="https://huggingface.co/facebook/blenderbot-400M-distill" class="custom-link">Hugging face</a></li>
        <li><a href="https://metatext.io/models/facebook-blenderbot-400M-distill" class="custom-link">Metatext</a></li>
    </div>
{% endblock %}